.idea/
.claude/
*__pycache__*
.pytest_cache/
*.csv
scratch.py
console_output*.txt
_TRANSLATED_DOCUMENTS/
*.pickle
tests/paragraphs/
tests/token_testing/
quality_evaluation/tests/quality/
quality_evaluation/tests/old/
tests/temp_calcs.ipynb
_BACKUP/
.coverage
