.idea/
.claude/
*__pycache__*
*.pytest_cache/
*.csv
*scratch.py
console_output*.txt
*_TRANSLATED_DOCUMENTS/
*.pickle
*quality_evaluation/tests/quality/
*quality_evaluation/tests/old/
*temp_calcs.ipynb
*_BACKUP/
*.coverage
*.pdf
*image_replacing_script_tests
*project_update

