*.coverage
*.csv
*.pdf
*.pickle
*.pytest_cache/
*_BACKUP/
*_TRANSLATED_DOCUMENTS/
*__pycache__*
*image_replacing_script_tests
*project_update
*quality_evaluation/tests/old/
*quality_evaluation/tests/quality/
*scratch.py
*temp_calcs.*
.claude/
.idea/
/.venv/
/.venv_backup_stable/
console_output*.txt
